 <!--<div class = "link"><a href = "/stop">Stop</a></div>-->
 <h1>BRACE YOURSELF!!</h1>
 <h2>TWEETS FROM YOUR FAVOURITE CELEB ARE COMING UP. PLEASE WAIT!!!!!!!!!</h2>
 <!--<script src="/socket.io/socket.io.js"></script>-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
  <script>
    window.onbeforeunload = function() {
  return "Tweets will be duplicated if you refresh/leave the page!!!";
};
</script>
        

 <div id="squaresWaveG">
<div id="squaresWaveG_1" class="squaresWaveG">
</div>
<div id="squaresWaveG_2" class="squaresWaveG">
</div>
<div id="squaresWaveG_3" class="squaresWaveG">
</div>
<div id="squaresWaveG_4" class="squaresWaveG">
</div>
<div id="squaresWaveG_5" class="squaresWaveG">
</div>
<div id="squaresWaveG_6" class="squaresWaveG">
</div>
<div id="squaresWaveG_7" class="squaresWaveG">
</div>
<div id="squaresWaveG_8" class="squaresWaveG">
</div>
</div>

{% for i,tweet in tweets %}
        {% set url = "http://www.twitter.com/"+tweet.user.screen_name %}
        <div class = 'tweetdiv'>

        <div class = "tweetbox"><img src={{tweet.user.profile_image_url}} alt='Twiiter image' height='70' width='80'/>

        <a href={{url}} target='_blank'>{{tweet.user.screen_name}}</a>

         {{tweet.text }}<br>

        </div>
      </div>
        {% endfor %}




  
  <div class="bubblingG">
      <span id="bubblingG_1">
      </span>
      <span id="bubblingG_2">
      </span>
      <span id="bubblingG_3">
      </span>
  </div>



  <style>
    .tweetdiv
    {
      display: block;
      background-color: white;
      font-size: 15px;
      font-weight: bold;
    }
    .tweetdiv .tweetbox
    {
      display: block;
      border-style: solid;
      border-width: 5px;
      margin-right: 3px;
      margin-left: 3px;
      margin-top: 2px;
      margin-bottom: 2px;
      transition-property: background-color;
      transition-duration: 0.25s;

    }
    .tweetdiv .tweetbox:hover
    {
      background-color: #8ad459;
    }
    .tweetdiv .tweetbox a
    {
      color : #176A6D;
      text-decoration: none;
      transition-property: color;
      transition-duration: 0.5s;
      
    }
    .tweetdiv .tweetbox a:hover
    {
      color : white;
    }

/* CSS for bubllingG*/

.bubblingG {
text-align: center;
width:80px;
height:50px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 10px;
height: 10px;
margin: 25px auto;
background: #000000;
-moz-border-radius: 50px;
-moz-animation: bubblingG 1.3s infinite alternate;
-webkit-border-radius: 50px;
-webkit-animation: bubblingG 1.3s infinite alternate;
-ms-border-radius: 50px;
-ms-animation: bubblingG 1.3s infinite alternate;
-o-border-radius: 50px;
-o-animation: bubblingG 1.3s infinite alternate;
border-radius: 50px;
animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.39s;
-webkit-animation-delay: 0.39s;
-ms-animation-delay: 0.39s;
-o-animation-delay: 0.39s;
animation-delay: 0.39s;
}

#bubblingG_3 {
-moz-animation-delay: 0.78s;
-webkit-animation-delay: 0.78s;
-ms-animation-delay: 0.78s;
-o-animation-delay: 0.78s;
animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-moz-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-moz-transform: translateY(-21px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-webkit-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-webkit-transform: translateY(-21px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-ms-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-ms-transform: translateY(-21px);
}

}

@-o-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
-o-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-o-transform: translateY(-21px);
}

}

@keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#000000;
transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
transform: translateY(-21px);
}
}


/* squareWave CSS*/
#squaresWaveG{
position:relative;
width:400px;
height:48px}

.squaresWaveG{
position:absolute;
top:0;
background-color:#0FC4D1;
width:48px;
height:48px;
-moz-animation-name:bounce_squaresWaveG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-webkit-animation-name:bounce_squaresWaveG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-ms-animation-name:bounce_squaresWaveG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-o-animation-name:bounce_squaresWaveG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
animation-name:bounce_squaresWaveG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:normal;
}

#squaresWaveG_1{
left:0;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#squaresWaveG_2{
left:49px;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#squaresWaveG_3{
left:98px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#squaresWaveG_4{
left:147px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#squaresWaveG_5{
left:196px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#squaresWaveG_6{
left:245px;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#squaresWaveG_7{
left:294px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}

#squaresWaveG_8{
left:343px;
-moz-animation-delay:1.43s;
-webkit-animation-delay:1.43s;
-ms-animation-delay:1.43s;
-o-animation-delay:1.43s;
animation-delay:1.43s;
}

@-moz-keyframes bounce_squaresWaveG{
0%{
background-color:#0FC4D1;
}

100%{
background-color:#FFFFFF;
}

}

@-webkit-keyframes bounce_squaresWaveG{
0%{
background-color:#0FC4D1;
}

100%{
background-color:#FFFFFF;
}

}

@-ms-keyframes bounce_squaresWaveG{
0%{
background-color:#0FC4D1;
}

100%{
background-color:#FFFFFF;
}

}

@-o-keyframes bounce_squaresWaveG{
0%{
background-color:#0FC4D1;
}

100%{
background-color:#FFFFFF;
}

}

@keyframes bounce_squaresWaveG{
0%{
background-color:#0FC4D1;
}

100%{
background-color:#FFFFFF;
}

}

</style>

