<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tweet Extractor (Celebs)</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/celebList.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/celebs">Tweet Extractor</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Sports</a>
                    </li>
                    <li>
                        <a href="/technology">Technology</a>
                    </li>
                    <li>
                        <a href="/entertainment">Entertainment</a>
                    </li>
                    <li>
                        <a href="/world">World</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Celebrities</h1>
            <p>This is a list of Celebrities who are active on Twitter.</p>
            
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Celebrities</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-1_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Narendra Modi</h3>
                        <p>
                            <a href="/celebTweets/narendramodi" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-2_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Barack Obama</h3>
                        <p>
                            <a href="/celebTweets/BarackObama" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-3_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Bill Gates</h3>
                        <p>
                            <a href="/celebTweets/BillGates" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-4_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Amitabh Bachchan</h3>
                        <p>
                            <a href="/celebTweets/SrBachchan" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-5_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Shah Rukh khan</h3>
                        <p>
                            <a href="/celebTweets/iamsrk" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-6_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Aamir Khan</h3>
                        <p>
                            <a href="/celebTweets/aamir_khan" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-7_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Salman khan</h3>
                        <p>
                            <a href="/celebTweets/BeingSalmanKhan" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-8_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Chiristano Ronaldo</h3>
                        <p>
                            <a href="/celebTweets/Cristiano" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-9_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Lionel Messi</h3>
                        <p>
                            <a href="/celebTweets/messi10stats" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-10_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Wayne Rooney</h3>
                        <p>
                            <a href="/celebTweets/WayneRooney" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-11_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Sir Alex Ferguson</h3>
                        <p>
                            <a href="/celebTweets/Furious_Fergie" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-12_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Sachin Tendulkar</h3>
                        <p>
                            <a href="/celebTweets/sachin_rt" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-13_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Virat Kohli</h3>
                        <p>
                            <a href="/celebTweets/iamVkohli" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>



            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-14_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Sania Mirza</h3>
                        <p>
                            <a href="/celebTweets/MirzaSania" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/images/celeb_images/IMG-15_converted.jpg" alt="">
                    <div class="caption">
                        <h3>Saina Nehwal</h3>
                        <p>
                            <a href="/celebTweets/NSaina" target = "_blank" class="btn btn-primary">View Tweets</a>
                        </p>
                    </div>
                </div>
            </div>




            

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Design Lab 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

</body>

</html>
